<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019166453869-8sf2lq3a2e1trhqlug08lh9dl80sbt48.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019166453869-8sf2lq3a2e1trhqlug08lh9dl80sbt48</string>
	<key>API_KEY</key>
	<string>AIzaSyAuE5WiHkukOZ1dNPvqTf651Z_wPAQcXqs</string>
	<key>GCM_SENDER_ID</key>
	<string>1019166453869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kphonereact.Project-Doggystyle</string>
	<key>PROJECT_ID</key>
	<string>project-doggystyle-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>project-doggystyle-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019166453869:ios:f4ce098a4914a6ad1ecf64</string>
</dict>
</plist>